<div class="centered-box">
  <div class="card">
    <div class="card-header">
      Editing Company Profile
    </div>
    <div class="card-body">
      <%= form_for @company_profile, url: account_company_profile_path, multipart: true, html: { class: "form-horizontal form-bordered", method: :patch } do |f| %>
        <%= render partial: 'form', locals: {f: f, post: @company_profile} %>
      <% end %>
    </div>
  </div>
</div>
