<div class="centered-box">
  <div class="card">
    <div class="card-header">
      Add New Quotation
    </div>
    <div class="card-body">
      <%= form_for @quotation, url: dashboard_quotations_path, multipart: true, html: { class: "form-horizontal form-bordered", method: :post } do |f| %>
        <%= render partial: 'form', locals: {f: f, post: @quotation} %>
      <% end %>
    </div>
  </div>
</div>
